<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<p style="padding-left:15px" class="navbar-text pull-left" style="margin-right:15px;">
				<a href="website-lists.html" class="navbar-link">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
			</p>
			<a href="#" class="navbar-brand">
				Edit Website
			</a>
			<p class="navbar-text pull-right" style="margin-right:15px;">
				<a href="website-lists.html" class="navbar-link">
					<span class="glyphicon glyphicon-ok"></span>
				</a>
			</p>
		</div>
	</div>
</nav>



<div class="container">
<!-- {{model.website}}
<hr>
{{model.website[0]._id}}
<hr> -->
	<form>
		<div class="form-group">
			<label for="website-name">Website Name</label>
			<input ng-model="model.website[0].name" type="text" placeholder="Google" ng-model="model.website.name" class="form-control" id="website-name" />
		</div>
		<div class="form-group">
			<label for="website-description">Website Description</label>
			<textarea placeholder="most famous in the world" class="form-control" ng-model="model.website[0].description" id="website-description" cols="30" rows="10"></textarea>
		</div>
	</form>
	<a href="website-lists.html" class="btn btn-danger btn-block" role="button">Delete</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  	<div class="container">
    	<div class="row navbar-text">
	     	<div class="col-xs-3 text-center">
	       	   <a href="#">
	        	    <span class="glyphicon glyphicon-ok"></span>
	          </a>
	     	</div>
	     	<div class="col-xs-3 text-center">
	          <a href="#">
	            <span class="glyphicon glyphicon-plus"></span>
	          </a>
	      	</div>
	     	 <div class="col-xs-3 text-center">
	          <a href="#">
	            <span class="glyphicon glyphicon-star"></span>
	          </a>
	     	</div>
	      	<div class="col-xs-3 text-center">
	          <a href="#">
	            <span class="glyphicon glyphicon-heart"></span>
	          </a>
	      	</div>
    	</div>
  	</div>
</nav>
