<!-- <!DOCTYPE html>
<html lang="en" ng-app="">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assignment/css/style.css" />
</head>
<body> -->
	<div class="container">
		<div class="alert alert-danger" ng-if="model.error">
			{{model.error}}
		</div>
		<h1>Login</h1>
		<input type="text" ng-model="username" class="form-control" placeholder="username" />
		<input type="password" ng-model="password" class="form-control" placeholder="password" />
		<a ng-click="model.login(username,password)"  class="btn btn-primary btn-block" role="button">Login</a>
		<a href="#/register" class="btn btn-success btn-block" role="button">Register</a>
	</div>
<!-- </body>
</html> -->