<!-- <!DOCTYPE html>
<html lang="en" ng-app="">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assignment/css/style.css" />
</head>
<body> -->
	<div class="container">
		<h1>Register</h1>
		<input ng-model="username" type="text" class="form-control" placeholder="username" />
		<input ng-model="password" type="password" class="form-control" placeholder="password" />
		<input ng-model="password2" type="password" class="form-control" placeholder="verify password" />
		<a ng-click="model.register(username,password,password2)" class="btn btn-primary btn-block" role="button">Register</a>
		<a href="#/login" class="btn btn-danger btn-block" role="button">Cancel</a>
	</div>
<!-- </body>
</html>
 -->